/* Custom scrollbar for chat history scroll area */

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #2563eb #0000;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #2563eb;
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}